.key {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #7ae8f7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  transition: all .3s ease;
  will-change: transform;
  user-select: none;
  &_size {
    &_small {
    }
    &_middle {
    }
    &_large {

    }
  }

  &_color {
    &_pink {
      background-color: #ffa4cf;
    }
  }
  &_active {
    transform: translate3d(0, 3px, -3px);
    background-color: lighten(#ffa4cf, 10%);
  }
}
