.key {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #ffc0d1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  transition: all .3s ease;
  will-change: transform;
  user-select: none;
  border-radius: 6.4px;
  cursor: pointer;
  &_size {
    &_xss {
      width: 44px;
    }
    &_xs {
      width: 50px;
    }
    &_s {
      width: 86px;
    }
    &_m {
      width: 100px;
    }
    &_l {
      width: 330px;
    }
  }

  &_color {
    &_pink {
      background-color: #a6e9d7;
    }
  }
  &_active {
    transform: translate3d(0, 2px, 0);
    background-color: lighten(#f18db5, 15%);
  }
}
