@use "sass:math";
@import "variables";

@function prc($pxOne, $pxTwo) {
	$result: math.div($pxOne, $pxTwo) * 100%;
	@return $result;
}

@function rem($px) {
	$result: math.div($px, $defaultFZ) + rem;
	@return $result;
}

@function em($px) {
	$result: math.div($px, 16) + em;
	@return $result;
}
